<a href="https://colab.research.google.com/github/Fharuk/DATATALKS-2025-COHORT/blob/main/Data_talks_first_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'2.2.2'

In [ ]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-09-26 20:35:45--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.04s

2025-09-26 20:35:46 (19.4 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [ ]:
import pandas as pd

# Read dataset
df = pd.read_csv("car_fuel_efficiency.csv")

# Display number of records (rows)
len(df)

9704

In [ ]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [ ]:
# Number of unique fuel types
df['fuel_type'].nunique()

2

In [ ]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [ ]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [ ]:
# Count missing values per column
missing_per_column = df.isnull().sum()

# How many columns have at least one missing value
missing_columns_count = (missing_per_column > 0).sum()

missing_columns_count

np.int64(4)

In [ ]:
missing_per_column[missing_per_column > 0]

num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

In [ ]:
# Maximum fuel efficiency for cars from Asia
max_eff_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
max_eff_asia

23.759122836520497

In [ ]:
df[df['origin'] == 'Asia'].loc[
      df['fuel_efficiency_mpg'] == max_eff_asia
      ]

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
9387,330,3.0,136.0,1223.298226,NaN,2001,Asia,Gasoline,Front-wheel drive,1.0,23.759123

In [ ]:
median_hp = df['horsepower'].median()
median_hp

149.0

In [ ]:
# Most frequent horsepower value
most_freq_hp = df['horsepower'].mode()[0]
most_freq_hp

np.float64(152.0)

In [ ]:
df['horsepower'].value_counts().head(1)

horsepower
152.0    142
Name: count, dtype: int64

In [ ]:
# Find most frequent horsepower value
most_freq_hp = df['horsepower'].mode()[0]

# Fill missing values with that mode
df['horsepower'] = df['horsepower'].fillna(most_freq_hp)

In [ ]:
df['horsepower'].isnull().sum()

np.int64(0)

In [ ]:
median_hp_after_fill = df['horsepower'].median()
median_hp_after_fill

152.0

In [ ]:
import numpy as np

# Step 1: Select all cars from Asia
df_asia = df[df['origin'] == 'Asia']

# Step 2: Select only columns vehicle_weight and model_year
df_asia_subset = df_asia[['vehicle_weight', 'model_year']]

# Step 3: Select the first 7 values
df_asia_first7 = df_asia_subset.head(7)

# Step 4: Get the underlying NumPy array
X = df_asia_first7.values

# Step 5: Compute XTX = X.T @ X
XTX = X.T.dot(X)

# Step 6: Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Step 7: Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Step 8: Compute w = XTX_inv @ X.T @ y
w = XTX_inv.dot(X.T).dot(y)
w

array([0.01386421, 0.5049067 ])